@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
